@model List<StudentManagement.Models.ViewModels.ScoreVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2 class="text-center">Bảng Điểm Môn Học</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 font-weight-bold text-left">Lớp: @ViewBag.lop</div>
            <div class="col-md-6 font-weight-bold text-left">Môn: @ViewBag.subject</div>
        </div>
        <div class="col-md-6 font-weight-bold text-left">
            Học kỳ: @ViewBag.semester
        </div>
    </div>
</div>



<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                STT
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Điểm 15P
            </th>
            <th>
                Điểm 1T
            </th>
            <th>
                Điểm Thi
            </th>
            <th>
                ĐTB
            </th>

        </tr>
    </thead>
    <tbody>
        @{ int count = 0;}
        @foreach (var item in Model)
        {
            count = count + 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => count)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @{var paramaterValue = item.ScoreList.Where(x => x.RecordType == "D15P").Select(x => x.Score).FirstOrDefault(); }
                    @Html.DisplayFor(modelItem => paramaterValue)
                </td>
                <td>
                    @{var paramaterValue1 = item.ScoreList.Where(x => x.RecordType == "D1T").Select(x => x.Score).FirstOrDefault(); }
                    @Html.DisplayFor(modelItem => paramaterValue1)
                </td>
                <td>
                    @{var paramaterValue2 = item.ScoreList.Where(x => x.RecordType == "DHK").Select(x => x.Score).FirstOrDefault(); }
                    @Html.DisplayFor(modelItem => paramaterValue2)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.RecordSubject.Average)
                </td>
            </tr>
        }
    </tbody>
</table>
