
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê thông tin</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Thống kê </a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Số lượng học sinh toàn trường</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumHS</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Số lượng học sinh khối 10</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumHS10</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Số lượng học sinh khối 11</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumHS11</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số lượng học sinh khối 12</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumHS12</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số lượng lớp học</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumClass</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-store-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số lượng môn học</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.sumSubject</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Pie Chart -->
<div>
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 id="titlePie" class="m-0 font-weight-bold text-primary"></h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Chọn thống kê</div>
                    <a class="dropdown-item" onclick="PieChart_Call('/manager/statistic/StatisticGender', data = null)">Thống kê tỉ lệ nam nữ toàn trường</a>
                    <a class="dropdown-item" onclick="PieChart_Call('/manager/statistic/StatisticGender10', data = null)">Thống kê tỉ lệ nam nữ khối 10</a>
                    <a class="dropdown-item" onclick="PieChart_Call('/manager/statistic/StatisticGender11', data = null)">Thống kê tỉ lệ nam nữ khối 11</a>
                    <a class="dropdown-item" onclick="PieChart_Call('/manager/statistic/StatisticGender12', data = null)">Thống kê tỉ lệ nam nữ khối 12</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">

                <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Nam
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-danger"></i> Nữ
                </span>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Page level plugins -->
    <script src="~/asset/template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/statistic.js"></script>
}

